In [1]:
import tabula as tb
import pandas as pd
import numpy as np
import os

In [5]:
java_home = r'C:\Users\User\OneDrive\Documents\JAVA_HOME\jdk-21.0.1'
os.environ['JAVA_HOME'] = java_home

os.environ['PATH'] = os.environ['PATH'] + ';' + os.path.join(java_home, 'bin')

!java -version

java version "21.0.1" 2023-10-17 LTS
Java(TM) SE Runtime Environment (build 21.0.1+12-LTS-29)
Java HotSpot(TM) 64-Bit Server VM (build 21.0.1+12-LTS-29, mixed mode, sharing)

In [104]:
file = '17_04_30 Lourdes DH1.pdf'

data = tb.read_pdf(file, pages = 'all', area = [45, 1, 210, 200])

In [125]:
data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    28 non-null     float64
 1   Nr Name / UCI MTB Team  54 non-null     object
 2   UCI ID                  28 non-null     float64
 3   NAT                     28 non-null     object
 4   YOB                     28 non-null     float64
 5   Speed                   28 non-null     float64
 6   I1 / I2                 56 non-null     object
 7   I3 / I4                 56 non-null     object
 8   Time                    28 non-null     object
 9   Gap                     28 non-null     float64
dtypes: float64(5), object(5)
memory usage: 4.5+ KB

In [124]:
data[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    28 non-null     float64
 1   Nr Name / UCI MTB Team  44 non-null     object
 2   UCI ID                  28 non-null     float64
 3   NAT                     28 non-null     object
 4   YOB                     28 non-null     float64
 5   Speed                   28 non-null     float64
 6   I1 / I2                 56 non-null     object
 7   I3 / I4                 56 non-null     object
 8   Time                    28 non-null     object
 9   Gap                     28 non-null     float64
dtypes: float64(5), object(5)
memory usage: 4.5+ KB

In [123]:
data[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank Nr Name / UCI MTB Team  48 non-null     object
 1   Unnamed: 0                   0 non-null      float64
 2   UCI ID                       25 non-null     float64
 3   NAT                          25 non-null     object
 4   YOB                          25 non-null     float64
 5   Speed                        21 non-null     float64
 6   I1 / I2                      50 non-null     object
 7   I3 / I4                      50 non-null     object
 8   Time                         25 non-null     object
 9   Gap                          23 non-null     object
dtypes: float64(4), object(6)
memory usage: 4.2+ KB

In [126]:
data[0]

,Rank,Nr Name / UCI MTB Team,UCI ID,NAT,YOB,Speed,I1 / I2,I3 / I4,Time,Gap
0,1.0,37 FAYOLLE Alexandre,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:58.919 (1),2:52.758,0.000
1,NaN,POLYGON UR,NaN,NaN,NaN,NaN,1:36.776 (1),2:25.863 (1),NaN,NaN
2,2.0,22 WALLACE Mark,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),2:01.400 (5),2:56.084,3.326
3,NaN,CANYON FACTORY RACING DH,NaN,NaN,NaN,NaN,1:38.531 (8),2:28.547 (2),NaN,NaN
4,3.0,20 GUTIERREZ VILLEGAS Marcelo,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),2:00.430 (2),2:56.199,3.441
5,NaN,GIANT FACTORY OFF-ROAD TEAM,NaN,NaN,NaN,NaN,1:37.385 (2),2:29.124 (3),NaN,NaN
6,4.0,12 PAYET Florent,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),2:01.584 (7),2:56.556,3.798
7,NaN,VV RACING,NaN,NaN,NaN,NaN,1:38.707 (12),2:29.691 (6),NaN,NaN
8,5.0,5 FEARON Connor,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),2:01.265 (3),2:56.964,4.206
9,NaN,KONA FACTORY TEAM,NaN,NaN,NaN,NaN,1:38.177 (5),2:29.893 (11),NaN,NaN
10,6.0,31 CHAPMAN Rupert,1.000684e+10,NZL,1992.0,40.684,1:04.006 (1),2:01.702 (10),2:56.975,4.217
11,NaN,PIVOT FACTORY RACING,NaN,NaN,NaN,NaN,1:38.173 (4),2:29.759 (8),NaN,NaN
12,7.0,68 MULALLY Neko,1.000729e+10,USA,1993.0,40.639,1:04.410 (3),2:01.422 (6),2:57.168,4.410
13,NaN,THE YT MOB,NaN,NaN,NaN,NaN,1:38.127 (3),2:29.526 (5),NaN,NaN
14,8.0,46 PIERRON Amaury,1.000883e+10,FRA,1996.0,40.614,1:05.190 (14),2:02.374 (18),2:57.280,4.522
15,NaN,COMMENCAL - LAC BLANC,NaN,NaN,NaN,NaN,1:39.689 (23),2:29.798 (9),NaN,NaN
16,9.0,29 COULANGES Benoit,1.000819e+10,FRA,1994.0,40.591,1:05.232 (17),2:02.385 (19),2:57.381,4.623
17,NaN,DORVAL AM NICOLAI,NaN,NaN,NaN,NaN,1:39.391 (20),2:30.532 (16),NaN,NaN
18,10.0,11 ATHERTON Gee,1.000343e+10,GBR,1985.0,40.567,1:04.324 (2),2:01.829 (15),2:57.485,4.727
19,NaN,TREK FACTORY RACING DH,NaN,NaN,NaN,NaN,1:38.350 (6),2:29.468 (4),NaN,NaN
20,11.0,14 GREENLAND Laurie,1.000940e+10,GBR,1997.0,40.524,1:04.987 (11),2:01.667 (8),2:57.674,4.916
21,NaN,MS MONDRAKER TEAM,NaN,NaN,NaN,NaN,1:38.634 (10),2:29.849 (10),NaN,NaN
22,12.0,28 PEKOLL Markus,1.000404e+10,AUT,1987.0,40.472,1:05.533 (20),2:01.267 (4),2:57.900,5.142
23,NaN,MS MONDRAKER TEAM,NaN,NaN,NaN,NaN,1:38.781 (13),2:29.707 (7),NaN,NaN
24,13.0,16 WILLIAMSON Greg,1.000691e+10,GBR,1992.0,40.459,1:05.980 (26),2:01.833 (16),2:57.957,5.199
25,NaN,CUBE GLOBAL SQUAD PROTECTED BY,NaN,NaN,NaN,NaN,1:39.319 (19),2:30.370 (14),NaN,NaN
26,14.0,36 MOIR Jack,1.000818e+10,AUS,1994.0,40.434,1:05.488 (19),2:02.559 (21),2:58.066,5.308
27,NaN,INTENSE FACTORY RACING,NaN,NaN,NaN,NaN,1:39.088 (16),2:30.620 (17),NaN,NaN
28,15.0,57 FIGARET Faustin,1.000733e+10,FRA,1993.0,40.414,1:04.659 (6),2:01.776 (13),2:58.155,5.397
29,NaN,RADON FACTORY DOWNHILL TEAM,NaN,NaN,NaN,NaN,1:38.677 (11),2:30.431 (15),NaN,NaN
30,16.0,44 CABIROU Rudy,1.000771e+10,FRA,1994.0,40.400,1:05.193 (15),2:01.787 (14),2:58.216,5.458
31,NaN,UNIOR TOOLS TEAM,NaN,NaN,NaN,NaN,1:39.215 (18),2:30.254 (12),NaN,NaN
32,17.0,128 HATTON Charlie,1.000990e+10,GBR,1998.0,40.158,1:06.700 (34),2:03.732 (25),2:59.294,6.536
33,NaN,INTENSE RACING UK,NaN,NaN,NaN,NaN,1:40.386 (25),2:31.953 (21),NaN,NaN
34,18.0,75 MCGLONE Fraser,1.000769e+10,GBR,1994.0,40.143,1:05.229 (16),2:02.463 (20),2:59.358,6.600
35,NaN,NaN,NaN,NaN,NaN,NaN,1:39.028 (15),2:31.286 (18),NaN,NaN
36,19.0,17 FAIRCLOUGH Brendan,1.000364e+10,GBR,1988.0,40.111,1:05.062 (13),2:01.692 (9),2:59.500,6.742
37,NaN,SCOTT-VELOSOLUTIONS,NaN,NaN,NaN,NaN,1:38.565 (9),2:31.405 (19),NaN,NaN
38,20.0,38 BLENKINSOP Samuel,1.000449e+10,NZL,1988.0,40.108,1:05.586 (22),2:04.121 (28),2:59.516,6.758
39,NaN,NORCO FACTORY RACING,NaN,NaN,NaN,NaN,1:40.885 (31),2:32.686 (23),NaN,NaN
40,21.0,55 LUKASIK Slawomir,1.000741e+10,POL,1993.0,40.037,1:04.892 (10),2:02.119 (17),2:59.834,7.076
41,NaN,NS-BIKES FACTORY RACING,NaN,NaN,NaN,NaN,1:39.090 (17),2:31.614 (20),NaN,NaN
42,22.0,61 REVELLI Loris,1.000944e+10,ITA,1997.0,40.036,1:06.355 (30),2:04.187 (29),2:59.839,7.081
43,NaN,AB DEVINCI ITALY,NaN,NaN,NaN,NaN,1:40.623 (29),2:32.975 (27),NaN,NaN
44,23.0,94 HEAP Elliott,1.000984e+10,GBR,1998.0,39.860,1:07.004 (42),2:04.223 (30),3:00.633,7.875
45,NaN,CHAIN REACTION CYCLES / MAVIC,NaN,NaN,NaN,NaN,1:40.901 (32),2:32.929 (26),NaN,NaN
46,24.0,27 READING Jack,1.000658e+10,GBR,1988.0,39.855,1:05.576 (21),2:02.955 (22),3:00.654,7.896
47,NaN,ONE VISION GLOBAL RACING,NaN,NaN,NaN,NaN,1:39.625 (22),2:32.688 (24),NaN,NaN
48,25.0,72 LEIVSSON Isak,1.000742e+10,NOR,1993.0,39.809,1:06.847 (39),2:04.566 (33),3:00.863,8.105
49,NaN,NaN,NaN,NaN,NaN,NaN,1:41.654 (39),2:33.061 (29),NaN,NaN
50,26.0,30 ESTAQUE Thomas,1.000885e+10,FRA,1996.0,39.730,1:06.564 (33),2:04.068 (26),3:01.224,8.466
51,NaN,COMMENCAL - LAC BLANC,NaN,NaN,NaN,NaN,1:40.430 (26),2:32.661 (22),NaN,NaN
52,27.0,56 HARRISON Charlie,1.000965e+10,USA,1997.0,39.713,1:06.450 (31),2:03.462 (23),3:01.302,8.544
53,NaN,INTENSE FACTORY RACING,NaN,NaN,NaN,NaN,1:40.550 (27),2:33.199 (31),NaN,NaN
54,28.0,32 MARIN Alex,1.000945e+10,ESP,1997.0,39.704,1:05.954 (25),2:03.580 (24),3:01.341,8.583
55,NaN,MADISON SARACEN FACTORY TEAM,NaN,NaN,NaN,NaN,1:40.320 (24),2:32.848 (25),NaN,NaN

In [167]:
column_headers = data[0].columns.tolist()

column_headers

['Rank',
 'Nr Name / UCI MTB Team',
 'UCI ID',
 'NAT',
 'YOB',
 'Speed',
 'I1 / I2',
 'I3 / I4',
 'Time',
 'Gap']

In [169]:
column_headers_2 = ['Nr Name / UCI MTB Team', 'I1 / I2', 'I3 / I4']

In [174]:
new_headers = ['Rank', 'Nr Name', 'UCI ID', 'Nat', 'YOB', 'Speed', 'I1', 'I3', 'Time', 'Gap', 'UCI MTB Team', 'I2', 'I4']
new_headers

['Rank',
 'Nr Name',
 'UCI ID',
 'Nat',
 'YOB',
 'Speed',
 'I1',
 'I3',
 'Time',
 'Gap',
 'UCI MTB Team',
 'I2',
 'I4']

In [171]:
# Empty list to store series prior to inserting in DataFrame
comb_list = []

# First for loop iterates through every other value in each column and combines them as one
for header in column_headers:
    series_list = [data[0].loc[i, header] for i in range(0, len(data[0]), 2)]
    new_series = pd.Series(series_list, name=header)
    comb_list.append(new_series)

# Second for loop iterates through the every other value from the second row for specific columns
for header in column_headers_2:
    series_list = [data[0].loc[i, header] for i in range(1, len(data[0]), 2)]
    new_series = pd.Series(series_list, name=header)
    comb_list.append(new_series)
    
    
new_df = pd.concat(comb_list, axis=1)

In [177]:
new_df.head()

,Rank,Nr Name,UCI ID,Nat,YOB,Speed,I1,I3,Time,Gap,UCI MTB Team,I2,I4
0,1.0,37 FAYOLLE Alexandre,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:58.919 (1),2:52.758,0.000,POLYGON UR,1:36.776 (1),2:25.863 (1)
1,2.0,22 WALLACE Mark,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),2:01.400 (5),2:56.084,3.326,CANYON FACTORY RACING DH,1:38.531 (8),2:28.547 (2)
2,3.0,20 GUTIERREZ VILLEGAS Marcelo,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),2:00.430 (2),2:56.199,3.441,GIANT FACTORY OFF-ROAD TEAM,1:37.385 (2),2:29.124 (3)
3,4.0,12 PAYET Florent,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),2:01.584 (7),2:56.556,3.798,VV RACING,1:38.707 (12),2:29.691 (6)
4,5.0,5 FEARON Connor,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),2:01.265 (3),2:56.964,4.206,KONA FACTORY TEAM,1:38.177 (5),2:29.893 (11)

In [175]:
new_df.columns = new_headers

In [178]:
new_df.head()

,Rank,Nr Name,UCI ID,Nat,YOB,Speed,I1,I3,Time,Gap,UCI MTB Team,I2,I4
0,1.0,37 FAYOLLE Alexandre,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:58.919 (1),2:52.758,0.000,POLYGON UR,1:36.776 (1),2:25.863 (1)
1,2.0,22 WALLACE Mark,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),2:01.400 (5),2:56.084,3.326,CANYON FACTORY RACING DH,1:38.531 (8),2:28.547 (2)
2,3.0,20 GUTIERREZ VILLEGAS Marcelo,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),2:00.430 (2),2:56.199,3.441,GIANT FACTORY OFF-ROAD TEAM,1:37.385 (2),2:29.124 (3)
3,4.0,12 PAYET Florent,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),2:01.584 (7),2:56.556,3.798,VV RACING,1:38.707 (12),2:29.691 (6)
4,5.0,5 FEARON Connor,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),2:01.265 (3),2:56.964,4.206,KONA FACTORY TEAM,1:38.177 (5),2:29.893 (11)

In [179]:
col_to_move = new_df.pop(new_df.columns[10])
new_df.insert(2, col_to_move.name, col_to_move)

In [180]:
new_df.head()

,Rank,Nr Name,UCI MTB Team,UCI ID,Nat,YOB,Speed,I1,I3,Time,Gap,I2,I4
0,1.0,37 FAYOLLE Alexandre,POLYGON UR,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:58.919 (1),2:52.758,0.000,1:36.776 (1),2:25.863 (1)
1,2.0,22 WALLACE Mark,CANYON FACTORY RACING DH,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),2:01.400 (5),2:56.084,3.326,1:38.531 (8),2:28.547 (2)
2,3.0,20 GUTIERREZ VILLEGAS Marcelo,GIANT FACTORY OFF-ROAD TEAM,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),2:00.430 (2),2:56.199,3.441,1:37.385 (2),2:29.124 (3)
3,4.0,12 PAYET Florent,VV RACING,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),2:01.584 (7),2:56.556,3.798,1:38.707 (12),2:29.691 (6)
4,5.0,5 FEARON Connor,KONA FACTORY TEAM,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),2:01.265 (3),2:56.964,4.206,1:38.177 (5),2:29.893 (11)

In [181]:
col_to_move = new_df.pop(new_df.columns[11])
new_df.insert(8, col_to_move.name, col_to_move)
new_df.head()

,Rank,Nr Name,UCI MTB Team,UCI ID,Nat,YOB,Speed,I1,I2,I3,Time,Gap,I4
0,1.0,37 FAYOLLE Alexandre,POLYGON UR,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:36.776 (1),1:58.919 (1),2:52.758,0.000,2:25.863 (1)
1,2.0,22 WALLACE Mark,CANYON FACTORY RACING DH,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),1:38.531 (8),2:01.400 (5),2:56.084,3.326,2:28.547 (2)
2,3.0,20 GUTIERREZ VILLEGAS Marcelo,GIANT FACTORY OFF-ROAD TEAM,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),1:37.385 (2),2:00.430 (2),2:56.199,3.441,2:29.124 (3)
3,4.0,12 PAYET Florent,VV RACING,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),1:38.707 (12),2:01.584 (7),2:56.556,3.798,2:29.691 (6)
4,5.0,5 FEARON Connor,KONA FACTORY TEAM,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),1:38.177 (5),2:01.265 (3),2:56.964,4.206,2:29.893 (11)

In [182]:
col_to_move = new_df.pop(new_df.columns[12])
new_df.insert(10, col_to_move.name, col_to_move)
new_df.head()

,Rank,Nr Name,UCI MTB Team,UCI ID,Nat,YOB,Speed,I1,I2,I3,I4,Time,Gap
0,1.0,37 FAYOLLE Alexandre,POLYGON UR,1.000817e+10,FRA,1995.0,41.677,1:04.473 (5),1:36.776 (1),1:58.919 (1),2:25.863 (1),2:52.758,0.000
1,2.0,22 WALLACE Mark,CANYON FACTORY RACING DH,1.000817e+10,CAN,1995.0,40.890,1:05.005 (12),1:38.531 (8),2:01.400 (5),2:28.547 (2),2:56.084,3.326
2,3.0,20 GUTIERREZ VILLEGAS Marcelo,GIANT FACTORY OFF-ROAD TEAM,1.000586e+10,COL,1990.0,40.863,1:04.468 (4),1:37.385 (2),2:00.430 (2),2:29.124 (3),2:56.199,3.441
3,4.0,12 PAYET Florent,VV RACING,1.000404e+10,FRA,1986.0,40.780,1:04.817 (9),1:38.707 (12),2:01.584 (7),2:29.691 (6),2:56.556,3.798
4,5.0,5 FEARON Connor,KONA FACTORY TEAM,1.000766e+10,AUS,1994.0,40.686,1:04.671 (7),1:38.177 (5),2:01.265 (3),2:29.893 (11),2:56.964,4.206